<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770821899061-gfi3lsnd7ijp5rne5t2g7mb0es5k2ng7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770821899061-gfi3lsnd7ijp5rne5t2g7mb0es5k2ng7</string>
	<key>API_KEY</key>
	<string>AIzaSyAcvCMi-ZLFMJ4SWvBnSB4uaYW_VLfX_rU</string>
	<key>GCM_SENDER_ID</key>
	<string>770821899061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.screen</string>
	<key>PROJECT_ID</key>
	<string>hackzurich22-6eaec</string>
	<key>STORAGE_BUCKET</key>
	<string>hackzurich22-6eaec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770821899061:ios:2117caff40079531cb827c</string>
</dict>
</plist>